@import "datepicker.css";
@import "normalize.css";
@import "main.css";
@import "form.css";
@import "table.css";
.tabs {
    width: 1024px;
    margin: auto;
    margin-bottom: 10px;
}

.tabs li {
    list-style-type: none;
    float : left;
    height : 30px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    /*background-color: #F4F9FD;*/
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.7);
}

.tabs a {
    display : block;
    color : #666;
    text-decoration : none;
    padding: 10px 20px;
}

a.active {
    pointer-events: none;
    cursor: default;
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

form > fieldset + fieldset div {
    width: 100%;
}