form {
    width: 95%;
    margin: auto;
}

form fieldset > div, form fieldset .file-input {
    margin-right: 20px;
    float:left;
}

input {
    width: 200px;
    height: 30px;
}

textarea {
    width: 100%;
    height: 150px;
}

.full-size {
    width: 90%;
}

input.datepicked {
    width: 160px;
}

fieldset {
    padding: 10px;
    margin-bottom: 5px;
    border-top: 1px solid #ccc;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}

fieldset legend {
    text-align: left;
    color: #505050;
    font-size: 18px;
    padding: 0px 4px 0px 4px;
    margin-left: 20px;
}

.searchForm input[type="search"] {
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

.searchForm input[type="text"], .searchForm input[type="search"] {
    height: 20px;
}

input[type="text"], input[type="search"],
input[type="file"], input[type="number"],
input[type="url"], textarea{
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    vertical-align: middle;
}

.file-input {
    position : relative;
}
.file-input div {
    float: left;
}

.file-input input[type="file"] {
    opacity : 0; /* for !IE */
    filter : alpha(opacity = 0); /* for IE */
    position : absolute;
    left: 200px;
}

.xml-upload-button {
    vertical-align: middle;
    height: 40px;
    margin-left: 2px;
}

label {
    width: 180px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
} 