/* 
    Document   : index.css
    Created on : 16 avr. 2013, 11:31:54
    Author     : David
    Description:
        Purpose of the stylesheet follows.
*/
body, html{
    width:100%;
    height: 96%;
    margin : 0;
    padding:0;
}

body{
    background-image: url("../img/bg2.jpeg");
}

.page{
    width : 70%;
    height: 100%;
    margin: auto;
    display:block;
    border-radius: 5px;
    min-width: 800px;
    background-color : white;
    position: relative;
    margin-top:75px;
}

.header{
    width:100%;
    height: 100px;
    background-color :darkred;
    border-radius: 5px 5px 0px 0px;
}

.footer{
    width:100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-color:black;
}

h1{
    margin:0;
    padding:0;
    color :white;
    font-size: 52px;
    text-align: center;
    font-family: 'Black Ops One', cursive;
}