@import "main.css";
@import "form.css";
@import "table.css";

.bd-main-content {
    margin: 0; 
}

.bd-actions {
    position: absolute;
    right: 0;    
    width: 240px;
    top: 10px;
}

.bd-actions a {
    text-decoration: none;
    width: 90px;
}

.bd-export-html, .bd-export-pdf {
    display: block;
    text-decoration: none;
    width: 42%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.bd-export-html {
    margin-left: 10px;
}

.bd-image-btn {
    width: 16px;
}

.bd-export-html:before {
    content: url(../img/html_file.png);
    vertical-align:-50%;
    margin-left: 2px;
}

.bd-export-pdf:before {
    content: url(../img/pdf_file.png);
    vertical-align:-50%;
    margin-left: 2px;
}

.left {
    margin-left: 20px;
}

.bd-image {
    height: auto;
    width: 180px;
    margin:auto;
    display: block;
    box-shadow: 1px 1px 12px #555;
}

.export-buttons {
    margin-top: 10px;
}

.bd-main-content p {
    margin: 2px 0;
}

.bd-main-content > div {
    width: 30%;
}

h3.bd-normal-title {
    padding: 10px 10px;
    background-color: #ccc;
    font-size: 18px;
    color: #505050;
    border-left: 4px solid #053a6c;
    font-weight: normal;    
}

.bd-resume-content {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.bd-resume-content h3 {
    max-width: 30%;
}

table.individus {
    border-collapse: collapse;
    border-top-width: 2px;
    width: 100%;
    margin-bottom: 20px;
}

table.individus th + th {
    width: 40%;
    text-align: center;
}

table.individus td + td {
    text-align: center;
}

div > p > span {
    font-size: 13pt;
    font-weight: bold;
}

p > span{
    font-family: "Skolar Regular","Times New Roman",serif;
}